html {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1144px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/headerImage.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* переносим стилизацию из скрипта сюда (описываем обычное состояние) */
.nav__fixed{     /*задаем фиксированную позицию меню навигации*/
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    border-bottom: 1px solid #A1A1A1;
    z-index: 2;

    /* забегая вперед плавность перехода */
    transition: background-color ease 0.3s;
}
/* переносим стилизацию из скрипта сюда,
(описываем состояние при скролле) */
.nav__fixed.is-fixed {
    background: #c9c5c5;
}
.nav {     /*позиционирование меню + отступы*/
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px;
}
.nav_item{}
.nav__link {
    padding: 20px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    margin-left: 20px;
    color: #FFFFFF;
}
.nav__link.active, /*задаем событие наведения мыши на элементы меню*/
.nav__link:hover{
    border-bottom: 1px solid #FFF;
}
.header__content {
    text-align: center;
}
.header__studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.header__h1 {
    display: inline-block;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    max-width: 829px;
    padding: 20px 0px 50px 0px;
    color: #FFFFFF;
}
.header__btn{}
.btn{   /*задаем общий класс для большинства кнопок-ссылок на странице*/
    display: inline-block;
    text-decoration: none;
    padding: 13px 37px 12px 37px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #4985FF;
    color: #FFFFFF;
    border-radius: 30px;
}
.btn:hover,  /*событие при наведении мыши на кнопку-ссылку*/
.btn:focus{
    opacity: 0.8;
    transition: 0.3s;
}
.header__link{}
    /*Начинается следующая секция design*/
.design{
    margin: 110px 0px 105px 0px;
}
.design__header{
    text-align: center;
}
.h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
}
.design__title{
    display: inline-block;
    max-width: 739px;
    color: #323232;
}
.design__content {
    padding: 50px 0px 70px 0px;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    max-width: 730px;

    color: #999;
}
.design__create{
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
}
.design-website{
    display: flex;
    align-items: flex-start;
    max-width: 353px;
}
.design-website__picture{
    border: 1px solid #E0E0E0 ; 
    /* чтобы получить ровный круг удобнее использовать 50%
    и при изменении размеров не поломается */
    border-radius: 50%;
    padding: 10px;
}
.design-website__img{
    border: 1px solid #4985FF ;
    border-radius: 50%;
    padding: 25px;
}
.design-website__content{
    padding-left: 15px;
}
.h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000;
}
.design-website__title{
    padding: 46px 0px 12px 0px;
}
.design-website__text{
    font-size: 14px;
    line-height: 22px;
    color: #999;
}
.disign__btn {
    text-align: center ;
}

/*Начинается следующая секция standart*/
.standart{
    background-color: #F6F6F8;
}
.standart__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px 90px 0px;
    border-bottom: 1px solid #E0E0E0; /*посмотреть линию*/
}
.standart-text{}
.standart-text__h2{}
.standart-text__p{
    font-size: 16px;
    line-height: 25px;
    padding: 40px 0px 30px 0px;
    color: #999;
}
.standart-text__a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #4985FF;
}
.standart__img{}
.standart__box{
    display: flex;
    justify-content: space-between;
    padding: 70px 70px;
}
.standart-item{
    display: flex;
    max-width: 104px; /*Задаем максимальную ширину*/
    flex-wrap: wrap;
    justify-content: space-between;
}
.standart-item__span{
    font-size: 36px;
    line-height: 53px;
    color: #000;
}
.standart-item__p{
    font-size: 16px;
    line-height: 25px;

    color: #999;
}

    /*Начало новой секции service*/
.service{
    background-image: linear-gradient(#504DC2 50%, #fff 50%);
    /* лучше не фиксировать высоту и добивать отступом,
    при изменении контента верстка сломается.
    лучше часть фона сделать либо псевдоэлементом(before/after)
    либо посмотреть в сторону свойства background-image: linear-gradient(...) */
}
.service__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px 70px 0px;
}
.service__title{
    color: #FFF;
    max-width: 50%;
}
.service__content{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 85px;
    margin: 0px -15px; /*задаем отрицательные отступы для внутренних блоков .service-item */
}
.service-item{
    display: flex;
    flex-direction: column;
    margin: 0px 15px; /*задаем отступы*/
    max-width: 33.3333%;
}
.service-item__img{}
.service-item__h3{
    padding: 30px 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000;
}
.service-item__span:first-child{
    color: #4985FF;
}
.service-item__p{
    font-size: 16px;
    line-height: 25px;

    color: #999;
}
.service-item__a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;

    color: #4985FF;
}

/*Начало новой секции project*/
.project{
    text-align: center;
    background-color: #F6F6F8;
    padding: 100px 0px 130px 0px;
}
.project__title{}
.project__text{
    display: inline-block;
    padding: 50px 0px 70px 0px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 65%;       /*задаем ширину тескта в процентах*/

    color: #999;
}
.project__content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

/*Начало новой секции work-video*/
.work-video{
    position: relative;
   
    background-image: url(./../images/work.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    /* в этой секции допустимо фиксануть высоту (надо разобраться???)*/
    height: 570px;
    margin-bottom: 165px;
    
    text-align: center;
    color: #FFF;
}
.work-video__title{
    padding: 70px 0px 30px 0px;
}
.work-video__test{
    font-size: 16px;
    line-height: 25px;
}
.work-video__img{
    position: absolute;
    top: 200px;
    left: 0px;
    left: 475px;
    max-width: 100%;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}
.play{
    position: absolute;
    top: 175px;
    left: 345px;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 1px solid #FFF;
    padding: 20px 40px 20px 40px;
    border-radius: 50px;
    text-decoration: none;
}
.play:hover{
    background-color: #504DC2;
    transition: 0.5s;
}
.play__img{}
.play__text{
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFF;
    text-decoration: none;
}

/*Начало новой секции email*/
.email{
    padding: 85px 0px;
    text-align: center;
}
.email__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 20px;

    color: #000000;
}
.email__text{
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    color: #999999;
}
.form{
    margin: 30px 0px 35px 0px;
    display: flex;
    justify-content: center;
    
}
.form__input{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
    border-radius: 25px 0px 0px 25px;
    width: 269px;
    padding-left: 30px;
    font-size: 13px;
    line-height: 21px;

    color: #999999;
}
.form__button{
    padding: 13px 36px 15px 26px;
    background-color: #4985FF;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 190px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 0px 25px 25px 0px;

    color: #FFFFFF;
}
.form__button:hover{
    opacity: 0.9;
}

.email__article{
    font-size: 13px;
    line-height: 21px;
    text-align: center;

    color: #999999;
}
/*Начало следующей секции info*/
.info{
    background-color: #F6F6F8;
}
.info__content{
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    
}
.contacts{}
.info__title{
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
.info__text{
    padding-top: 30px;
    font-size: 14px;
    line-height: 22px;

    color: #999999;
}

/*------------*/

.footer{
    padding: 30px 0px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    background-color: #F6F6F8;
    color: #999;
}